<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>351237350022-gv31mekoabodbl4vt1v6qf3l9og1tcqj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.351237350022-gv31mekoabodbl4vt1v6qf3l9og1tcqj</string>
	<key>API_KEY</key>
	<string>AIzaSyCNoM0JxBTNr-vWJrHs02scXPwN8ZO-SNU</string>
	<key>GCM_SENDER_ID</key>
	<string>351237350022</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>flutterazzi.learneasy</string>
	<key>PROJECT_ID</key>
	<string>learneasy-86ee3</string>
	<key>STORAGE_BUCKET</key>
	<string>learneasy-86ee3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:351237350022:ios:c7942e12e6c9edda</string>
	<key>DATABASE_URL</key>
	<string>https://learneasy-86ee3.firebaseio.com</string>
</dict>
</plist>